body {background-color:#EEE9E3; margin:50px auto; width:700px; font-family:Tahoma,sans-serif; font-size:large; text-align:left; color:#030303;}
a {color:#914149; text-decoration:none;}
h1 {font-size:125%; font-weight:500; margin-bottom:10px;}
h1 a {color:#0D0C0C;}
h2 {font-size:1.25em; font-weight:500; margin-top:0;}
h3 {font-size:1em;}
ul {line-height:1.5em;}
img {border-radius: 50%;}
@media only screen and (max-width:750px)
{body {margin:25px; width:auto}}
