body {background-color:#F3F2EC; margin:50px auto; width:700px; font-family:Tahoma,sans-serif; text-align:left; color:#242424;}
a {color:#3F786B; text-decoration:none;}
h1 {font-weight:500; margin-bottom:10px;}
h1 a {color:#242424;}
h2 {font-size:100%;}
ul {line-height:150%;}
img.header {border-radius: 50%;}
@media only screen and (max-width:750px) {
body {margin:25px; width:auto}}
@media (prefers-color-scheme:dark) {
body {background-color:#13120B; color:#DBDBDB;}
a {color:#77ADC0;}
h1 a {color:#DBDBDB;}}
